.icon {
  display: inline-block;
  width: 30%;
  font-size: 45px;
  margin-left: 10px;
}
.iconLink {
  text-decoration: none;
  color: #ffffff;
}

.navlist {
  width: 40%;
  background-color: #ee7f7f;
  margin: 0;
  margin-top: 10px;
  margin-right: 30px;
  float: right;
  list-style-type: none;
  height: 30px;
}

.navbar {
  width: 100%;
  background-color: #ee7f7f;
  margin-top: 0;
  height: 50px;
  margin-bottom: 20xp;
}

.navItem {
  float: right;
  margin-top: 8px;
  margin-left: 30px;
  text-align: center;
  float: right;
}

.link {
  text-decoration: none;
}
