.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 25rem;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid rgb(60, 65, 65);
  border-radius: 20px;
  overflow: visible;
}

.formContainer form {
  margin: auto;
  height: 100%;
  width: 80%;
  padding-top: 30px;
}

.inputFiled {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  font-size: 20px;
}

.formLabel {
  font-size: 25px;
}
.singleFiled {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  margin-top: 30px;
  height: 25px;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  background-color: rgb(47, 207, 68);
}

.loadingMainDiv {
}

.loadingAlert {
  height: 3rem;
  width: 100%;
  margin: 0;
  background-color: rgb(48, 204, 108);
  font-size: 30px;
  text-align: center;
}
.eMessageMainDiv {
}

.eAlert {
  height: 3rem;
  width: 100%;
  background-color: rgb(204, 136, 48);
  font-size: 30px;
  text-align: center;
}
